<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>预览</title>
		<script type="text/javascript" src="../../../assets/js-v/config.js"></script>  
		<script type="text/javascript" src="../../../assets/js/jquery-2.0.0.min.js"></script>  
		<script type="text/javascript" src="../../../assets/js/jquery.media.js"></script> 
		<script type="text/javascript" src="../../../assets/js-vue/vue.js"></script>
		<link rel="stylesheet" href="../../../assets/css/bootstrap/bootstrap.css">
	</head>
	<body>
		<center>
		 <div class="panel panel-primary" id="showform">
		   <div class="panel-body">
			  <a class="media"  href=""></a>  
		   </div>
		 </div>
		   <!-- [加载状态 ] start -->
		   <div id="jiazai" style="display:none;margin-top:50px;">
			<div class="d-flex justify-content-center">
				<div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
		   </div>
		</center>
		<script type="text/javascript" src="../../../assets/js-v/act/file_preview.js"></script>
	</body>
</html>
