<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FH Admin</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="FH Admin QQ313596790" />
		<link rel="icon" href="../../../../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../../assets/fonts/material/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../../../assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../../../assets/plugins/animation/css/animate.min.css">
    <link rel="stylesheet" href="../../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../../assets/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../css/healthinfo_data.css">
<!--引入弹窗组件-->
    <link type="text/css" rel="stylesheet" href="../../../../plugins/fhdrag/style.css" />
	 <script src="../../../../assets/plugins/echarts/echarts.min.js"></script>
	
    <!-- vue -->
	<script src="../../../../assets/js-vue/vue.js"></script>
    <!--全局配置-->
    <script src="../../../../assets/js-v/config.js"></script>
	
    
</head>

<body>
    
    <!-- [加载状态 ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ 加载状态  ] End -->

    <!-- [ 主内容区 ] start -->
        <div class="pcoded-wrapper" id="app" style="height: 100%!important;">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">

							    <!-- [ Hover-table ] start -->
                                <div class="col-xl-12">
                                    <div class="card">
										<!-- 检索  -->
										<div class="card-block table-border-style" id="card-block1" >
											<div class="data_top">
												<span>个人健康统计报表</span>
											</div>
											<div class="data_bottom">
												<div class="data_left" >
													<div class="p_info">
														<div class="panel panel-default">
														  <div class="panel-body">
														    个人信息
														  </div>
														</div>
														<div class="info_detail">
															<div class="user_d_info1 d_info">
																<div>
																	<span>姓名: {{userInfo.UNAME}}</span>
																</div>
																<div>
																	<span>性别: {{userInfo.UNAME}}</span>
																</div>
																<div>
																	<span>生日: {{userInfo.BIRTHDAY}}</span>
																</div>
															</div>
															<div class="user_d_info2 d_info">
																<div>
																	<span>身高: {{userInfo.HEIGHT}}</span>
																</div>
																<div>
																	<span>体重: {{userInfo.WEIGHT}}kg</span>
																</div>
															</div>
															<div class="user_d_info3">
																<h4>
																	<template v-if="userInfo.DISEASES_HISTORY==''">
																		<span>无</span>
																	</template>
																	<template v-else>
																		<span>过敏史: {{userInfo.DISEASES_HISTORY}}</span>
																	</template>
																</h4>
																<h4>
																	<template v-if="userInfo.DISEASES_HISTORY==''">
																		<span>无</span>
																	</template>
																	<template v-else>
																		<span>疾病史: {{userInfo.DISEASES_HISTORY}}</span>
																	</template>
																</h4>
																<h4>
																	<template v-if="userInfo.FA_DISEASES_HISTORY==''">
																		<span>无</span>
																	</template>
																	<template v-else>
																		<span>家族病史: {{userInfo.FA_DISEASES_HISTORY}}</span>
																	</template>
																</h4>
														
															</div>
															
														</div>
													</div>
													<div class="p_data_option">
														<div class="panel panel-default">
														  <div class="panel-body">
														    数据选项
														  </div>
														</div>
														<div class="d_option">
														  <div class="d_img" @click="getEData('HEART_RATE')">
															  <img src="../../../../assets/images/health-info/heart_rate.png" alt="心率" title="心率">
															  <div>
																  <span>心率</span>
															  </div>
														  </div>
														  <div class="d_img"  @click="getEData('WEIGHT')">
															  <img src="../../../../assets/images/health-info/weight.png" alt="体重" title="体重">
														  </div>
														  <div class="d_img"  @click="getEData('BLOOD_PRESSURE')">
															  <img src="../../../../assets/images/health-info/blood_pressure.png" alt="血压" title="血压">
														  </div>
														  <div class="d_img"  @click="getEData('BLOOD_PRESSURE')">
															  <img src="../../../../assets/images/health-info/blood_glucose.png" alt="血糖" title="血糖">
														  </div>
														  <div class="d_img"  @click="getEData('SLEEP_TIME')">
															  <img src="../../../../assets/images/health-info/sleep.png" alt="睡眠时长" title="睡眠时长">
														  </div>
														  <div class="d_img"  @click="getEData('STEP_NUMBER')">
															  <img src="../../../../assets/images/health-info/foot.png" alt="运动步数" title="运动步数">
														  </div>
																													
														</div>
														
													</div>
												</div>
												<div class="data_right" >
													<div class="panel panel-default">
													  <div class="panel-body">
													    统计报表
													  </div>
													</div>
													<div class="data_echart">
														<div id="data_option" >
															<button type="button" class="btn btn-info"  @click="selectThisWeek('week')">本周</button>
															<button type="button" class="btn btn-info" @click="selectThisWeek('month')">本月</button>
															<button type="button" class="btn btn-info" @click="selectThisWeek('year')">本年</button>
															<button type="button" class="btn btn-info">选择时间范围</button>
														</div>
														<div id="main" style="width: 100%;height:95%;"></div>
													</div>
												</div>
											</div>
                                		</div>
			
                                    </div>
                                </div>
                                <!-- [ Hover-table ] end -->

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [ 主内容区 ] end -->


<script type="text/javascript" src="../../../../assets/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../../../../assets/js/pre-loader.js"></script>
<script src="../../../../assets/plugins/sweetalert/js/sweetalert.min.js"></script>

<!--引入弹窗组件start-->
<script type="text/javascript" src="../../../../plugins/fhdrag/drag.js"></script>
<script type="text/javascript" src="../../../../plugins/fhdrag/dialog.js"></script>
<!--引入弹窗组件end-->

<!-- 提示 -->
<script type="text/javascript" src="../../../../assets/js/jquery.tips.js"></script>

<!-- 表单验证提示 -->
<script src="../../../../assets/js/jquery.tips.js"></script>
 <!-- day.js -->
<script src="../../../../assets/js/day.js"></script>
<script src="../../../../assets/js-v/health/healthinfo/healthinfo/healthinfo_data.js"></script>
</body>
</html>