<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>FH Admin</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="FH Admin QQ313596790" />
 	<link rel="icon" href="../../../../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../../assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../../../assets/plugins/animation/css/animate.min.css">
    <link rel="stylesheet" href="../../../../assets/css/style.css">

    <!-- 日期插件 -->
    <link rel="stylesheet" href="../../../../assets/plugins/material-datetimepicker/css/bootstrap-material-datetimepicker.css">

    <!-- select插件 -->
    <link rel="stylesheet" href="../../../../assets/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="../../../../assets/plugins/multi-select/css/multi-select.css">

    <!-- vue -->
	<script src="../../../../assets/js-vue/vue.js"></script>
    <!--全局配置-->
    <script src="../../../../assets/js-v/config.js"></script>


</head>

<body style="background-color: white">
    
    <!-- [加载状态 ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ 加载状态  ] End -->

    <!-- [ 主内容区 ] start -->
        <div class="pcoded-wrapper" id="app">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
					
								<div style="width: 100%;">
									<div id="showform">
										
										<template v-if="isAdmin">
											<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
												<div class="input-group-prepend">
													<span class="input-group-text" style="width: 79px;"><span style="width: 100%;">用户</span></span>
												</div>
												<select class="js-example-basic-multiple col-sm-12"  @change="getUserInfo()" ref="USER_ID"  id="USER_ID" v-model="USER_ID" style="width: 90%;" data-placeholder="请选择用户">
													<option value=""></option>
													<template v-for="user in userList">
														<template v-if="USER_ID == user.USER_ID">
															<option :value="user.USER_ID" selected>{{user.NAME}}</option>
														</template>
														<template v-else>
															<option :value="user.USER_ID" >{{user.NAME}}</option>
														</template>
													</template>
												</select>
											</div>
										</template>
									<!-- 	<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">姓名</span></span>
		                                    </div>
		                                    <input type="text" class="form-control" ref="NAME" id="NAME" v-model="pd.NAME" maxlength="255" placeholder="这里输入姓名" title="姓名">
		                                </div> -->
										<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">性别</span></span>
		                                    </div>
		                                    <select ref="SEX" id="SEX" v-model="SEX"  title="性别" data-placeholder="性别" style="width:90%;padding-left:10px;border: 1px solid #CED4DA;transparent;appearance:none;-moz-appearance:none;-webkit-appearance:none;"></select>
		                                </div>
										<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">生日</span></span>
		                                    </div>
		                                    <input type="text" class="form-control date" ref="BIRTHDAY" id="BIRTHDAY" maxlength="32" placeholder="这里输入生日" title="生日">
		                                </div>
										<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">身高</span></span>
		                                    </div>
		                                    <input type="text" class="form-control" ref="HEIGHT" id="HEIGHT" v-model="pd.HEIGHT" maxlength="255" placeholder="这里输入身高" title="身高">
		                                </div>
										<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">体重</span></span>
		                                    </div>
		                                    <input type="text" class="form-control" ref="WEIGHT" id="WEIGHT" v-model="pd.WEIGHT" maxlength="255" placeholder="这里输入体重" title="体重">
		                                </div>
										<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">过敏史</span></span>
                                            </div>
                                            <textarea type="text" class="form-control" ref="ALLERGIC_HISTORY" id="ALLERGIC_HISTORY" v-model="pd.ALLERGIC_HISTORY" maxlength="2000" placeholder="这里输入过敏史" title="过敏史"/></textarea>
                                        </div>
										<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">疾病史</span></span>
                                            </div>
                                            <textarea type="text" class="form-control" ref="DISEASES_HISTORY" id="DISEASES_HISTORY" v-model="pd.DISEASES_HISTORY" maxlength="2000" placeholder="这里输入疾病史" title="疾病史"/></textarea>
                                        </div>
										<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">家族病史</span></span>
                                            </div>
                                            <textarea type="text" class="form-control" ref="FA_DISEASES_HISTORY" id="FA_DISEASES_HISTORY" v-model="pd.FA_DISEASES_HISTORY" maxlength="2000" placeholder="这里输入家族病史" title="家族病史"/></textarea>
                                        </div>
										<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">其他信息</span></span>
                                            </div>
                                            <textarea type="text" class="form-control" ref="OTHERS" id="OTHERS" v-model="pd.OTHERS" maxlength="2000" placeholder="这里输入其他信息" title="其他信息"/></textarea>
                                        </div>
										
									
								<!-- 
										<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">用户id</span></span>
		                                    </div>
		                                    <input type="text" class="form-control" ref="USER_ID" id="USER_ID" v-model="pd.USER_ID" maxlength="32" placeholder="这里输入用户id" title="用户id">
		                                </div> -->
									</div>
									<!-- [加载状态 ] start -->
								    <div id="jiazai" style="display:none;margin-top:50px;">
								    	<div class="d-flex justify-content-center">
	                                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </div>
								    <!-- [ 加载状态  ] End -->
								</div>

								
								<footer>
								<div style="width: 100%;padding-bottom: 2px;margin-top: 10px;" class="center">
									<a class="btn btn-light btn-sm" v-on:click="save">保存</a>
									<a class="btn btn-light btn-sm" onclick="top.Dialog.close();">取消</a>
								</div>
								</footer>

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [ 主内容区 ] end -->
<script type="text/javascript" src="../../../../assets/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="../../../../assets/js/pre-loader.js"></script>
<script src="../../../../assets/plugins/sweetalert/js/sweetalert.min.js"></script>

<!-- 日期插件 -->
<script src="../../../../assets/js/pages/moment-with-locales.min.js"></script>
<script src="../../../../assets/plugins/material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<script src="../../../../assets/js/pages/form-picker-custom.js"></script>

<!-- select插件 -->
<script src="../../../../assets/plugins/select2/js/select2.full.min.js"></script>
<script src="../../../../assets/plugins/multi-select/js/jquery.quicksearch.js"></script>
<script src="../../../../assets/plugins/multi-select/js/jquery.multi-select.js"></script>
<script src="../../../../assets/js/pages/form-select-custom.js"></script>

<!-- 表单验证提示 -->
<script src="../../../../assets/js/jquery.tips.js"></script>
<script src="../../../../assets/js-v/health/basicinfo/basicinfo/basicinfo_edit.js"></script>


</body>
</html>